<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="postForm" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        formControlName="title"
        placeholder="Enter Title"
      />
      <mat-error *ngIf="postForm.get('title').invalid"
        >Please enter a post title.</mat-error
      >
    </mat-form-field>
    <button mat-stroked-button type="button" (click)="fileSelector.click()">
      Select Image
    </button>
    <input
      type="file"
      name="fileSelector"
      id="fileSelector"
      (change)="onImageSelected($event)"
      #fileSelector
    />
    <div class="image-preview" *ngIf="imagePreview !== ' ' && imagePreview">
      <img [src]="imagePreview" [alt]="postForm.get('title').value" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        name="content"
        placeholder="Enter Content"
        id="comment1"
        rows="13"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="postForm.get('content').invalid"
        >Please enter post content.</mat-error
      >
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Post</button>
  </form>
</mat-card>

<hr />
